@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --color-purp1: #291292;
  --color-purp2: #370d5a;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  html {
    @apply bg-gradient-to-b from-purp1 to-purp2;
  }
}
